<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between align-content-center">
    <ul class="navbar-nav mr-auto">
        <li>
            <a class="nav-link" href="/">Inicio</a>
        </li>

        <li>
            <a class="nav-link" href="/admin/">Administración</a>
        </li>

        <li>
            <a class="nav-link" href="/admin/recetas/nueva">Nueva receta</a>
        </li>
    </ul>
    <a class="text-white" href="/auth/logout">Cerrar sesión</a>
</nav>