<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/public/css/estilos.css"/>
        <title>
            {% block titulo %}{% endblock %}
        </title>
        <script src="https://kit.fontawesome.com/ecd7eac62b.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% include 'admin_menu.njk' %}
        <div class="container">
            {% block contenido %}{% endblock %}
        </div>
    </body>
</html>