{% extends "publico_base.njk" %}
<div class="container">
    {% block titulo %}Login{% endblock %}

    {% block contenido %} 
        {% if error%}
            <div class="alert alert-danger">
                {{ error }}
            </div>
            {% endif%}
            <div>
                <form action="/auth/login" method="post">
                    <div class="form-group">
                        <label for="usuario">Usuario:</label>
                        <input type="text" class="form-control" name="usuario">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </form>
            </div>
        {% endblock contenido %}