{% extends "publico_base.njk" %}

{% block titulo %}Error | Publico{% endblock %}

{% block contenido %}
     <h1>Error</h1>
        <div class="alert alert-danger">
            {% if error %}
                {{ error }}
            {% else %}
                <p>Error en la aplicación<p>
            {% endif %}
        </div>
{% endblock %}